<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<property name="dialect">pl.edu.agh.ki.mwo.persistence.SQLiteDialect</property>
		<property name="connection.driver_class">org.sqlite.JDBC</property>
		<property name="connection.url">jdbc:sqlite:dziekanat.db</property>
		<property name="connection.username"></property>
		<property name="connection.password"></property>
	
		<!-- <property name="current_session_context_class">thread</property> -->
		<mapping class="pl.edu.agh.ki.mwo.model.Student"/>
		<mapping class="pl.edu.agh.ki.mwo.model.StudentGroup"/>
		<mapping class="pl.edu.agh.ki.mwo.model.DegreeCourse"/>
		<mapping class="pl.edu.agh.ki.mwo.model.Grade"/>
		<mapping class="pl.edu.agh.ki.mwo.model.Teacher"/>
		<mapping class="pl.edu.agh.ki.mwo.model.Course"/>
		
	</session-factory>
</hibernate-configuration>
